#
# Digilent HS2
#
# The Digilent HS2 is a high-speed FT232H-based adapter, compliant with the
# Xilinx JTAG 14-pin pinout.
# It does not support ARM reset signals (SRST and TRST) but can still be used for
# hardware debugging, with some limitations.
#
# http://www.digilentinc.com/Products/Detail.cfm?Prod=JTAG-HS2
#
# It has a different layout initialization in comparison with HS1 and another PID.
#

interface ftdi
ftdi_vid_pid 0x0403 0x6014
ftdi_layout_init 0x00e8 0x00eb

