#  Copyright (C) 2014-2016 Synopsys, Inc.
#
#  This program is free software; you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation; either version 2 of the License, or
#  (at your option) any later version.
#
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with this program; if not, write to the
#  Free Software Foundation, Inc.,
#  51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

#
# Synopsys DesignWare ARC EM Starter Kit v1.0 and v1.1
#

# Configure JTAG cable
# EM Starter Kit has built-in FT2232 chip, which is similiar to Digilent HS-1.
source [find interface/ftdi/digilent-hs1.cfg]
adapter_khz 10000

# ARCs support only JTAG.
transport select jtag

# Configure FPGA. This script supports both LX45 and LX150.
source [find target/snps_em_sk_fpga.cfg]

# Initialize
init
reset halt

